<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.framework_note">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />

  <application
      android:name=".NoteApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:requestLegacyExternalStorage="true"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity
        android:name=".FullscreenActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:exported="false"
        android:label="@string/title_activity_fullscreen"
        android:theme="@style/AppTheme.Fullscreen" />
    <activity
        android:name=".ui.ScrollingActivity"
        android:label="@string/title_activity_scrolling"
        android:theme="@style/AppTheme.NoActionBar" />
    <activity
        android:name=".ui.motion.MotionLayoutTestActivity"
        android:label="@string/title_activity_scrolling"
        android:theme="@style/AppTheme.NoActionBar"></activity>

    <receiver android:name=".NewAppWidget">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>

      <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/new_app_widget_info" />
    </receiver>

    <activity
        android:name=".HomeActivity"
        android:label="@string/title_activity_home"
        android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".WheelActivity"/>
    <activity android:name=".MainActivity" />
    <activity
        android:name=".databinding.DataBinddingAct"
        android:label="@string/title_activity_home"
        android:theme="@style/AppTheme.NoActionBar">

      <!-- <intent-filter> -->
      <!-- <action android:name="android.intent.action.MAIN" /> -->


      <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
      <!-- </intent-filter> -->
    </activity>

    <receiver android:name=".widget.MyAppWidgetProvider">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>

      <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/example_appwidget_info" />
    </receiver>
  </application>

</manifest>